@page "/users/logout"
@inject IAuthService _authService
@inject NavigationManager _navigationManager

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _authService.Logout();
        _navigationManager.NavigateTo("/");
    }
}
